# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Streamlit
.streamlit/

# Large embeddings
embeddings/*.npy

# HNSW indexes
indexes/*.index

# Models
models/**/*.pt

# Dataset
data/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db